// Navigation code here
.page-top {
    .column ();
    h1 {
        font-size: 3rem;
        margin: 1% 0;
    }// h1
    nav {
        padding-bottom: 10px;
        a {
            text-decoration: none;
            color: black;
            padding: 0 13px;
        }//a

    }//nav

}//page top